<div class="media" name="<%= id%>">
    <a class="media-left media-middle" href="#">
        <img src="img/foodtruck_large_placeholder.png" alt="Truck img" style="width: 64px; height: 64px;">
    </a>
    <div class="media-body">
        <ul class="list-inline">
            <li><h3 class="media-heading">TRUCK NAME: <%= applicant %></h3></li>
            <li><h5><a href='<%= schedule%>'>Schedule</a></h5></li>
            <li><h6>Permit=<%= id %></h6></li>
        </ul>
        <div>
            <h5>Truck location <%= locationDescription%></h5>
        </div>
        <h5>Providing Foods[<%= food_items%>]</h5>
    </div>
</div>